

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="lightblue">
    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/update">Update</a>
    <a href="/search">Search</a>
    
    <hr color="red" size="5px">
    <h1>student edit data page</h1>
    Edit Rollno: <input type="text" value="<%= Data.rollno %>"><br/><br/>
    Edit Name: <input type="text" value="<%= Data.name %>"><br/><br/>
    Edit Subject: <input type="text" value="<%= Data.subject %>"><br/><br/>
    Edit Fees: <input type="text" value="<%= Data.fees %>"><br/><br/>

    <hr color="red" size="5px">
    www.example.com
    
</body>
</html>