
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="lightblue">
    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/update">Update</a>
    <a href="/search">Search</a>
    
    <hr color="red" size="5px">
    <h1>Insert student record!!</h1>
    <form action="/save" method="post">

        Enter Rollno: <input type="text" name="rno"><br/><br/>
        Enter Name: <input type="text" name="nm"><br/><br/>
        Enter Subject: <input type="text" name="sub"><br/><br/>
        Enter Fees: <input type="text" name="fees"><br/><br/>
        <button>Save!</button>
    </form>
    <hr color="red" size="5px">
    www.example.com
    
</body>
</html>